
//@theme "/usr/share/rofi/themes/material.rasi"

//@theme "/home/tao/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/tao/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/tao/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/tao/.local/share/rofi/themes/launchpad.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/home/tao/.local/share/rofi/themes/rounded-nord-dark.rasi"

@import "~/.cache/wal/colors-rofi-dark"
